* {
font-family: 'Source Sans Pro', sans-serif;
border-box: 80%;

}

html, body {
height: 100%;
width: 100%;
margin: 0 auto 0 auto;
padding: 1%;
}

h1{
font-size: 2em;
color: #fff;
display: flex;
float:left;
margin: 5px auto 5px auto;
}

/*Map*/
div#map {width: 100%; height: 70%; }

#pac-input{
margin: 5px;
}

/*Navbar*/

.navbar-fixed-top{
background-color: #000;
padding: 1%;
}

a{
color: #fff;
}

a.nav-link{
text-align: center;
margin: 5px auto 5px auto;

}

ul.nav.navbar-nav{
display: flex;
opacity: 0.7;
float: right;
}

button#trafficToggle{
margin 5px;
}


/*Footer*/

.full {
width: 100%;	
}

.footer {
background: #EDEFF1;
height: auto;
padding-bottom: 30px;
position: relative;
width: 100%;
border-bottom: 1px solid #CCCCCC;
border-top: 1px solid #DDDDDD;
background-color: #222222;
}
.footer p {
margin: 0;
}
.footer img {
max-width: 100%;
}
.footer h3 {
border-bottom: 1px solid #BAC1C8;
color: #54697E;
font-size: 18px;
font-weight: 600;
line-height: 27px;
padding: 40px 0 10px;
text-transform: uppercase;
}
.footer ul {
font-size: 13px;
list-style-type: none;
margin-left: 0;
padding-left: 0;
margin-top: 15px;
color: #7F8C8D;
}
.footer ul li a {
padding: 0 0 5px 0;
display: block;
}
.footer a {
color: #78828D
}
.supportLi h4 {
font-size: 20px;
font-weight: lighter;
line-height: normal;
margin-bottom: 0 !important;
padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
background: #FFFFFF;
display: inline-block;
float: left;
height: 30px;
clear: both;
width: 100%;
}
.newsletter-box .btn {
border: medium none;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-o-border-radius: 3px;
-ms-border-radius: 3px;
border-radius: 3px;
display: inline-block;
height: 40px;
padding: 0;
width: 100%;
color: #000;
}
.newsletter-box {
overflow: hidden;

}
.bg-gray {
background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
box-shadow: 0 1px 0 #B4B3B3;
}

@media (min-width: 768px)
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}